<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.unir.emoodsic.dbaccess.mappers.emoodsic.MusicPrefDimProbMapper">

    <select id="getByIdUser" parameterType="int"
        resultType="net.unir.emoodsic.common.entities.MusicPrefDimProb">
        SELECT idUser, idMusicPrefDimension, probRC, probIR, probUC, probER
        FROM emoodsic.musicprefdimprob
        WHERE idUser = #{value}
    </select>
    
    <select id="getIdList" resultType="int">
        SELECT idUser
        FROM emoodsic.musicprefdimprob
    </select>    
    
    <select id="getUserListByDimension" parameterType="int" resultType="int">
        SELECT idUser
        FROM emoodsic.musicprefdimprob
        WHERE idMusicPrefDimension = #{value}
    </select>
    
    <select id="getUserProbabilityList"
        resultType="net.unir.emoodsic.common.entities.MusicPrefDimProb">
        SELECT idUser, idMusicPrefDimension
        FROM emoodsic.musicprefdimprob
    </select>
    
    <insert id="insert" parameterType="net.unir.emoodsic.common.entities.MusicPrefDimProb">
        INSERT INTO emoodsic.musicprefdimprob (idUser, idMusicPrefDimension, probRC, probIR, probUC, probER)
        VALUES (#{idUser}, #{idMusicPrefDimension}, #{probRC}, #{probIR}, #{probUC}, #{probER})
    </insert>

    <update id="update" parameterType="net.unir.emoodsic.common.entities.MusicPrefDimProb">
        UPDATE emoodsic.musicprefdimprob
        SET idMusicPrefDimension = #{idMusicPrefDimension},
            probRC = #{probRC},
            probIR = #{probIR},
            probUC = #{probUC},
            probER = #{probER}
        WHERE idUser = #{idUser}
    </update>

</mapper>
